@import 'variables/mixins.less';

// Colors:

// @white:#F5F5F5;
// @lightgray:#cecece;
// @gray:#BDB9B9;
// @graphite:#595959;
// @darkgray:#313131;
// @black:#0a0a0a;

// @yellow:#f3e12b;
// @gold:#ffd734;
// @orange:#EA670D;
// @dark-orange:#F89406;
// @red:#eb181a;

// @teal:#b7d2d5;
// @mint:#47914d;
// @green:#009500;
// @blue:#176D97;
// @purple:#97176d;

//Fonts:

@headerFont: 'Walkway';
@textFont: 'Open Sans';

body{
  height: 100%;
  width: 100%;
  position: absolute;
  .font (@textFont);
}

.claudia {
  .navbar li {
    .font (@headerFont);
  }

   height: inherit;
   background: url('claudia/bg.jpg');
   background-size: 100% auto;
}


