@import 'variables/mixins.less';

// Colors:

// @white:#F5F5F5;
// @lightgray:#cecece;
// @gray:#BDB9B9;
// @graphite:#595959;
// @darkgray:#313131;
// @black:#0a0a0a;

// @yellow:#f3e12b;
// @gold:#ffd734;
// @orange:#EA670D;
// @dark-orange:#F89406;
// @red:#eb181a;

// @teal:#b7d2d5;
// @mint:#47914d;
// @green:#009500;
// @blue:#176D97;
// @purple:#97176d;

//Fonts:

@headerFont: 'Walkway';
@textFont: 'Open Sans';

body{
  height: 100%;
  width: 100%;
  position: absolute;
  .font (@textFont);
}

.claudia {
  .navbar {
    .background (rgba(255,255,255,0.5));
  }  
  .navbar-inner {
    .background (rgba(255,255,255,0.5));
    .rounded (0px);
    background-image:none;
    li {
      .font (@headerFont);
      a:hover {
        color:gray;
      }
    }
  }
  aside {
    .background (rgba(255, 255, 255, 0.65));
    .border (rgba(122, 112, 112, 0.53));
    .font ('Open Sans');
    .rounded (6px);
    height: 200px;
    margin-left:16px;
    padding:12px;
  }

   height: inherit;
   background: url('claudia/bg.jpg');
   background-size: 100% auto;
}


