navigation [home_path, galery_path, contact_path] do
  logo position: :left
  description "Lorem ipsum dolor sit amet, consectetur adipisicing elit"
end














.jessica
  .navbar.navbar-fluid-top
    .navbar-inner
      .container-fluid
        .row-fluid
          .span8.offset2
            %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand(href="#") Jessica
            .container.nav-collapse
              %ul.nav
                %li= link_to "Portfolio", "/path1"
                %li= link_to "Album", "/path2"
                %li= link_to "Blog", "/path3"

  .container-fluid
    .row-fluid
      .span8.offset2
        .row-fluid
          .span12
            %img(src="http://28.media.tumblr.com/tumblr_lnddfuphZJ1qearggo1_500.jpg")
